body {
    position: relative;
    min-height: 100%;
    background-color: #758eaa;

}

h1 {
    font-family: 'Questrial', sans-serif;
}

.text-items {
    font-family: 'Catamaran', sans-serif;
}

.ui.container {
    padding-left: none;
}

.ui.vertical.menu {
    width: 7em;
    background-color: #212531
}

.ui.header {
    margin-left: 140px;
}


#placement {
    margin-left:133px;
    padding-top: 20px;
    font-size: 100px;
    font-family: 'Questrial', sans-serif;
}

#placement2 {
    margin-left:133px;
    font-size: 60px;
    font-family: 'Questrial', sans-serif;
}

#nutgraf {
    background-color: 	#d7f1ff;

  }

#introduction {
    padding-top: 40px;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: 60px;
    font-family: 'Questrial', sans-serif;
}


#test {
    /* background: linear-gradient(rgba(20,20,20, .6), rgba(20,20,20, .6)), url(backgroundtemp.jpg); */
    background-color: #758eaa;
}

#test2 {
    /* background: linear-gradient(to left top, #212531 60%, #758eaa 50%); */
    background: linear-gradient(to right top, #758eaa 50%, #212531 50%);
}

#margin-test {
    margin-left:133px;
}

#test3 {
    background: linear-gradient(to right bottom, #758eaa 50%, #212531 50%);
    
}

.ui.segment {
    margin: 0;
    padding:0;
}

/* #font-test {
    font-family: 'Catamaran', sans-serif;
    margin:0;
} */

h3.ui.header.right.floated {
 
}


.ui.text.container {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    max-width: 700px !important;
    line-height: 1.5;
    color: white;
  }

h3.ui.header.center.aligned {
    padding-bottom: 1em;
    font-family: 'Catamaran', sans-serif;
}

#header-test {

    font-size: 60px;
    font-family: 'Questrial', sans-serif;
}

.ui.vertical.stripe.segment {
    padding: 0;
}

#info1 {
    background: linear-gradient(to right bottom, #758eaa 39.95%, #212531 40%);
}

#info2 {
    background: linear-gradient(to right top, #758eaa 49.9%, #212531 50%);
    /* background: #212531; */
}

#mastHead {
    margin-bottom: 3em;
    margin-left: 0;
    
}






  #fheader {
    font-size: 60px;
    padding-top: 0.5em;
    font-family: 'Questrial', sans-serif;
  }

  #project {
      font-size: 35px;
      font-family: 'Questrial', sans-serif;
      float: right;
      margin-top: 1em;
      margin-left: 4em;
      padding-left: 5em;
 
  }

  #firstButton {
      margin-bottom: 1em;
      margin-right: 4em;
  }

  #test3 {
      padding-bottom: 2em;
      padding-left: 1.5em;
      /* -webkit-transform: rotate(-8deg); */
  }

  .ui.tiny.circular.right.floated.image {
    margin-bottom: 1em;
  }

  #more-details {
    margin-left: 2em;
    margin-bottom: 4em; 
  }


  .ui.vertical.stripe.segment {
      border: none;
  }

  .ui.divider:not(.vertical):not(.horizontal) {
      border-bottom:none;
      border-top: none;
  }
